<DOCTYPE html>
    <html>
       <head>
        <title>AVISOS</title>
       </head>   
       <body>
         <div class="container">
            <!--barra de navegación-->
            <header class="navbar">
               <span class="logo">CBTis 148</span>
               <nav>
                  <a href="INICIO">INICIO</a>
                  <a href="AVISOS">AVISOS</a>
                  <a href="CONFIGURACIÓN">CONFIGURACIÓN</a>
                  <a href="NOTIFICACIONES">NOTIFICACIONES</a>
               </nav>
            </header>

            <!--Tarjeta Principal-->
            <section class="hero-card">
               <div class="hero-content">
                  <h1>HORARIO ESCOLAR</h1>
                  <P>Consulta tu horario fácilmente. Aquí podrás revisar las materias que tienes durante el día y conocer la hora y el aula en la que se llevará a cabo cada clase. Esto te ayudará a organizar mejor tus actividades escolares.</P>
               </div>
            </section>
         </div>
       </body>   
    </html>