{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Horarios Escolares</title>
    <link rel="stylesheet" href="{% static 'horarios_web/estilos.css'%}">
</head>

<body>

    <h2>CBTIS 148</h2>

    <div class="menu">
        <a href="#">HOME</a>
        <a href="#">AVISOS</a>
        <a href="#">CONFIGURACIÓN</a>
        <a href="#">NOTIFICACIONES</a>
        <input type="text" placeholder="Buscar">
    </div>

    <br>

    <div class="principal">

        <div class="texto">
            <h1>HORARIOS<br>ESCOLARES</h1>

            <p>
                Consulta tu horario fácilmente. Aquí podrás revisar
                las materias que tienes durante el día y conocer la
                hora y el aula de cada clase.
            </p>

            <button>REPORTES</button>
            <button>ESTUDIANTES</button>
            <button>CONSULTAR</button>
            <button>INFORMES</button>
        </div>

    </div>

    <br>

    <table>

        <tr>
            <td>
                <h2>HORARIOS</h2>
                <p>
                    Revisa cuándo comienza
                    tu próxima clase.
                </p>
            </td>

            <td>
                <h2>AULAS</h2>
                <p>
                    Revisa el aula correspondiente
                    a cada clase.
                </p>
            </td>

            <td>
                <h2>DOCENTES</h2>
                <p>
                    Conoce a los docentes que
                    te acompañarán.
                </p>
            </td>
        </tr>

    </table>

    <img src="{% static 'horarios_web/img.png' %}" alt="Somos venados">
</body>
</html>